//
// General page elements
// --------------------------------------------------

// Footer
.footer {
    background-image: linear-gradient(rgb(11, 43, 66) 0%, rgb(5, 21, 34) 100%);
    color: #ffffff;
    font-size: @font-size-small;
    margin-top: 1em;
    padding: (@spacer * 2) 0;

    a {
        color: #ffffff;

        &:hover {
            color: @brand-primary;
        }
    }
}

// Buttons
.btn {
    transition: all @transition-speed-base;
}

.help-email {
    border-radius: 100%;
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 0.4em 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    z-index: 2;
}

// Tables
.table {
    table-layout: fixed;

    tr:first-child td {
        border-top: none;
    }

    tr {
        transition: background-color @transition-speed-base;
    }

    tr:hover {
        background-color: @gray-lightest;
    }
}

// Forms
.form-control[readonly],
.form-control[readonly]::-webkit-input-placeholder { color: transparent }
.form-control[readonly]::-moz-placeholder { color: transparent }
.form-control[readonly]:-moz-placeholder { color: transparent }
.form-control[readonly]::-ms-input-placeholder { color: transparent }

// Progress bar and labels
.progress {
    background-color: @gray-lighter;
    box-shadow: none;
    margin-bottom: 0;

    .progress-bar {
        box-shadow: none;
    }
}

.progress-labels {
    font-size: @font-size-small;
    width: 100%;

    @media screen and (min-width: @screen-xs-min) {
        font-size: @font-size-large;;
    }

    td {
        width: 33.33333333%;
    }
}

// Icons
.icon-info-sign:hover {
    cursor: help;
}

// Image zoom
.image-zoom-controls {
    position: relative;
}

.image-zoom {
    display: block;
    margin: 1em auto;
    background: @gray-lighter url('../images/ajax-loader.gif') no-repeat center;
    border: 1px solid @input-border;
    width: 100%;

    &:hover {
        cursor: -webkit-grab;
        cursor: grab;
    }

    &:active {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}

.zoom-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    &__reset,
    &__zoomin,
    &__zoomout {
        &:hover {
            text-decoration: none;
        }
    }
}

.download-link {
    line-height: 1em;
}
