# Ignore everything by default

/*

# Apart from themes/ and plugins/

!themes/
!plugins/

# Ignore some system themes and plugins

themes/demo/
plugins/october/

# And some files

!README.md
!.gitignore
