# Ignore everything by default

/*

# Apart from themes/ and plugins/

!themes/
!plugins/

# Ignore some system themes and plugins

themes/demo/
plugins/october/

# Ignore some dev plugins.

plugins/bedard/debugbar/

# Include some system files and theme config.

!README.md
!.gitignore
!config/casualtyforms.php
