/*
RAF Colour reference:
Muted roundel blue: 425871
Muted roundel red: c83322
Flag blue: 00247d
Flag red: cf142b
Flag light blue: 6399ab
*/
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-black-webfont.svg#latoblack') format('svg'), url('../fonts/lato-black-webfont.woff') format('woff'), url('../fonts/lato-black-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif;
  }
}
.btn {
  transition: all 0.2s;
}
.table {
  table-layout: fixed;
}
.table tr:first-child td {
  border-top: none;
}
.table tr {
  transition: background-color 0.2s;
}
.table tr:hover {
  background-color: #f9f9f9;
}
.form-control[readonly] {
  color: transparent;
}
.form-control:focus {
  border-color: #6399ab;
}
.progress {
  background-color: #eeeeee;
  box-shadow: none;
  margin-bottom: 0;
}
.progress .progress-bar {
  box-shadow: none;
}
.progress-labels {
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .progress-labels {
    font-size: 20px;
  }
}
[data-toggle="tooltip"] {
  border-bottom: 1px dashed #555555;
}
.image-zoom-controls {
  position: relative;
}
.image-zoom {
  display: block;
  margin: 1em auto;
  background: #eeeeee url('../images/ajax-loader.gif') no-repeat center;
  border: 1px solid #cccccc;
  width: 100%;
}
.image-zoom:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
.image-zoom:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.zoom-reset,
.zoom-zoomin,
.zoom-zoomout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.zoom-reset:hover,
.zoom-zoomin:hover,
.zoom-zoomout:hover {
  text-decoration: none;
}
.callout {
  margin-bottom: 25px;
  padding: 20px;
  border-left: 3px solid #eeeeee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-danger {
  background-color: #fdf7f7;
  border-color: #b22d1e;
}
.callout-danger h4 {
  color: #a94442;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #e1b54b;
}
.callout-warning h4 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #606fb0;
}
.callout-info h4 {
  color: #31708f;
}
.callout-success {
  background-color: #f9fdf7;
  border-color: #5cbc7d;
}
.callout-success h4 {
  color: #3c763d;
}
.alert {
  color: #fff;
}
.alert.alert-approval {
  display: none;
}
.alert-error {
  background-color: #c83322;
  border-color: #b22d1e;
  color: #a94442;
}
.alert-error hr {
  border-top-color: #9c281b;
}
.alert-error .alert-link {
  color: #843534;
}
body > p.flash-message {
  border-radius: 0px !important;
}
body > p.flash-message.success {
  background: #6ec38b !important;
  border: 1px solid #5cbc7d;
}
body > p.flash-message.info {
  background: #717eb8 !important;
  border: 1px solid #606fb0;
}
body > p.flash-message.warning {
  background: #e5be61 !important;
  border: 1px solid #e1b54b;
}
body > p.flash-message.error,
body > p.flash-message.danger {
  background: #c83322 !important;
  border: 1px solid #b22d1e;
}
.t-ww {
  word-wrap: break-word;
  word-break: break-word;
}
.border-none {
  border: 0;
}
.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
}
.w-sm {
  width: 25% !important;
}
.w-md {
  width: 50% !important;
}
.w-lg {
  width: 75% !important;
}
.w-full {
  width: 100% !important;
}
.w-50 {
  width: 50px !important;
}
.w-100 {
  width: 100px !important;
}
.w-120 {
  width: 120px !important;
}
.w-130 {
  width: 130px !important;
}
.w-140 {
  width: 140px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.m-a-0 {
  margin: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-a {
  margin: 20px !important;
}
.m-t {
  margin-top: 20px !important;
}
.m-r {
  margin-right: 20px !important;
}
.m-b {
  margin-bottom: 20px !important;
}
.m-l {
  margin-left: 20px !important;
}
.m-x {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.m-y {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-a-xs {
  margin: 5px !important;
}
.m-t-xs {
  margin-top: 5px !important;
}
.m-r-xs {
  margin-right: 5px !important;
}
.m-b-xs {
  margin-bottom: 5px !important;
}
.m-l-xs {
  margin-left: 5px !important;
}
.m-x-xs {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.m-y-xs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-a-sm {
  margin: 10px !important;
}
.m-t-sm {
  margin-top: 10px !important;
}
.m-r-sm {
  margin-right: 10px !important;
}
.m-b-sm {
  margin-bottom: 10px !important;
}
.m-l-sm {
  margin-left: 10px !important;
}
.m-x-sm {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-y-sm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-a-md {
  margin: 30px !important;
}
.m-t-md {
  margin-top: 30px !important;
}
.m-r-md {
  margin-right: 30px !important;
}
.m-b-md {
  margin-bottom: 30px !important;
}
.m-l-md {
  margin-left: 30px !important;
}
.m-x-md {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.m-y-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-a-lg {
  margin: 60px !important;
}
.m-t-lg {
  margin-top: 60px !important;
}
.m-r-lg {
  margin-right: 60px !important;
}
.m-b-lg {
  margin-bottom: 60px !important;
}
.m-l-lg {
  margin-left: 60px !important;
}
.m-x-lg {
  margin-right: 60px !important;
  margin-left: 60px !important;
}
.m-y-lg {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.p-a-0 {
  padding: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-a {
  padding: 20px !important;
}
.p-t {
  padding-top: 20px !important;
}
.p-r {
  padding-right: 20px !important;
}
.p-b {
  padding-bottom: 20px !important;
}
.p-l {
  padding-left: 20px !important;
}
.p-x {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.p-y {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-a-xs {
  padding: 5px !important;
}
.p-t-xs {
  padding-top: 5px !important;
}
.p-r-xs {
  padding-right: 5px !important;
}
.p-b-xs {
  padding-bottom: 5px !important;
}
.p-l-xs {
  padding-left: 5px !important;
}
.p-x-xs {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-y-xs {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-a-sm {
  padding: 10px !important;
}
.p-t-sm {
  padding-top: 10px !important;
}
.p-r-sm {
  padding-right: 10px !important;
}
.p-b-sm {
  padding-bottom: 10px !important;
}
.p-l-sm {
  padding-left: 10px !important;
}
.p-x-sm {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-y-sm {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-a-md {
  padding: 30px !important;
}
.p-t-md {
  padding-top: 30px !important;
}
.p-r-md {
  padding-right: 30px !important;
}
.p-b-md {
  padding-bottom: 30px !important;
}
.p-l-md {
  padding-left: 30px !important;
}
.p-x-md {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.p-y-md {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-a-lg {
  padding: 60px !important;
}
.p-t-lg {
  padding-top: 60px !important;
}
.p-r-lg {
  padding-right: 60px !important;
}
.p-b-lg {
  padding-bottom: 60px !important;
}
.p-l-lg {
  padding-left: 60px !important;
}
.p-x-lg {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.p-y-lg {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.navbar-header .navbar-brand {
  padding-left: 55px;
  background-image: url('../images/raf-roundel_muted.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  transition: color 0.2s ease 0.05s;
  color: #ccc;
}
.navbar-header .navbar-brand:hover {
  color: #fff;
}
.navbar-nav li.separator {
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  margin: 20px 10px 0 10px;
}
.navbar-autohide {
  transition: transform .5s;
}
.navbar-autohide.is-hidden {
  transform: translateY(-72px);
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a {
  transition: color 0.2s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:after {
  position: absolute;
  height: 4px;
  bottom: -1px;
  content: '';
  border-radius: 0px;
  z-index: 5;
  width: 0;
  left: 50%;
  transition: all 0.2s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: rgba(255, 255, 255, 0.6);
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after {
  width: 100% !important;
  left: 0 !important;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li:hover > a:after {
  width: 100%;
  left: 0;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:hover:after {
  background: rgba(255, 255, 255, 0.6);
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #6399ab;
}
.nav-pills--forms {
  text-align: center;
  margin: 20px;
}
.nav-pills--forms > li {
  float: none;
  display: inline-block;
}
.slide-hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  transition: height 0.2s ease-out;
  z-index: -1;
}
.slide-hover:hover:before {
  height: 100%;
}
.slide-hover.btn-primary:before {
  background-color: #4d7e8e;
}
.slide-hover.btn-primary:hover {
  background-color: #6399ab;
}
.social {
  text-align: center;
  float: right;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.social-item {
  font-size: 16px;
  display: inline-block;
  padding: 1px;
}
.social-item__link {
  font-size: 1.3em;
  color: #ffffff;
  display: block;
  width: 1.539em;
  height: 1.539em;
  background-color: #777777;
  transition: background-color 0.2s;
}
.social-item__link:hover,
.social-item__link:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #6399ab;
}
.social-item__link[href*="facebook"]:hover {
  background-color: #3b5998;
}
.social-item__link[href*="twitter"]:hover {
  background-color: #1da1f2;
}
.social-item__link[href*="youtube"]:hover {
  background-color: #e52d27;
}
.social-item__link[href*="instagram"]:hover {
  background-color: #db3075;
}
.flag-record__form {
  clear: both;
}
.chart-line-style {
  height: 300px;
}
.title-value h4 {
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;
  margin: 0;
}
.title-value p {
  color: #666666;
  margin: 0;
  font-size: 28px;
  line-height: 41px;
}
.title-value p:before {
  color: #e5a91a;
  font-size: 22px;
}
.title-value p.negative:after,
.title-value p.positive:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  font-size: 17px;
  vertical-align: top;
  position: relative;
  top: -3px;
  left: 5px;
}
.title-value p.negative {
  color: #cc3300;
}
.title-value p.negative:after {
  content: "\f103";
}
.title-value p.positive {
  color: #95b753;
}
.title-value p.positive:after {
  content: "\f102";
}
.title-value p.description {
  color: #999999;
  font-weight: 300;
  line-height: 100%;
  font-size: 13px;
}
.scoreboard {
  margin-top: 80px;
  position: relative;
  padding: 0;
  text-align: center;
}
.scoreboard:after,
.scoreboard:before {
  margin-top: -10px;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  height: 9px;
  font-size: 10px;
  color: #bbbbbb;
}
.scoreboard .scoreboard-item {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 20px;
  vertical-align: top;
}
.scoreboard .scoreboard-item:last-child {
  margin-right: 0;
}
body {
  padding-top: 70px;
}
.jumbotron {
  background: url('../images/rfc_3.jpg') no-repeat top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=), url('../images/rfc_3.jpg');
  background-size: cover;
  color: #ccc;
}
body.four-oh-four {
  padding-top: 0;
}
.jumbotron-404 {
  background: url('../images/aireal_1.jpg') no-repeat top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=), url('../images/aireal_1.jpg');
  background-size: cover;
  color: #ccc;
  text-align: center;
  height: 100vh;
  margin-bottom: 0;
}
.jumbotron-404 h1,
.jumbotron-404 p {
  color: rgba(255, 255, 255, 0.7);
}
.jumbotron-404 .big-404 {
  font-size: 200px;
  line-height: 200px;
  margin-bottom: 0;
  margin-top: 20vh;
}
@media (max-width: 480px) {
  .jumbotron-404 .big-404 {
    font-size: 140px;
    line-height: 140px;
  }
}
.jumbotron-home {
  height: 93vh;
  background-image: url('../images/rfc_6.jpg');
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=), url('../images/rfc_6.jpg');
  background-position: left;
  margin-bottom: 0;
}
.jumbotron-home .container {
  margin-top: 50px;
  text-align: center;
  width: 600px;
}
.jumbotron-home h1 {
  margin-top: 12.5px;
}
.advanced-link,
.advanced-link:hover,
.advanced-link:active,
.advanced-link:focus {
  color: #fff;
}
.rfc-flag-icon {
  height: 2em;
  margin: 0 20px;
}
.search-form {
  width: 60%;
  margin: auto;
  border-top: 1px solid #ffffff;
  padding: 20px 40px;
}
.search-form .form-control,
.search-form .btn {
  border: 1px solid transparent;
}
@media (max-width: 480px) {
  .search-form {
    width: 100%;
  }
}
.search-form--personnel,
.search-form--regiment-corps {
  border-top: 0;
  padding: 0 20px 20px;
}
.search-form--personnel .input-group,
.search-form--regiment-corps .input-group {
  margin-bottom: 10px;
  width: 100%;
}
.advanced-search {
  position: relative;
}
.advanced-search__or {
  background: #6399ab;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: 50%;
  padding: 0.5em 0.9em;
  margin: -1.3em 0 0 -1.3em;
  z-index: 1;
}
@media (min-width: 767px) {
  .advanced-search__or {
    top: 50%;
  }
}
.advanced-search__personnel,
.advanced-search__regiment-corps {
  color: #fff;
  text-align: center;
  padding: 40px 0;
}
.advanced-search__personnel h2,
.advanced-search__regiment-corps h2 {
  color: #fff;
}
.advanced-search__personnel {
  background: url('../images/rfc_1.jpg') no-repeat top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mM09o+YCQADDAF1CqFIaAAAAABJRU5ErkJggg==), url('../images/rfc_1.jpg');
  background-size: cover;
}
.advanced-search__regiment-corps {
  background: url('../images/rfc_4.jpg') no-repeat top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mM09o+YCQADDAF1CqFIaAAAAABJRU5ErkJggg==), url('../images/rfc_4.jpg');
  background-size: cover;
}
@media (min-width: 767px) {
  .advanced-search__regiment-corps {
    position: absolute;
    left: 50%;
    height: 100%;
  }
}
.search-result {
  color: #000000;
  display: block;
  background: #eeeeee;
  margin-bottom: 20px;
}
.search-result__header,
.search-result__details,
.search-result__footer {
  margin: 0;
  padding: 10px;
  transition: all .3s;
}
.search-result__header p,
.search-result__details p,
.search-result__footer p {
  margin: 0;
}
.search-result__header {
  color: #ffffff;
  background: #000000;
}
.search-result__details {
  background: #eeeeee;
  min-height: 70px;
}
.search-result__footer {
  text-align: right;
  border-top: 1px solid #ffffff;
}
.search-result:hover {
  color: #000000;
  text-decoration: none;
}
.search-result:hover .search-result__header {
  background: #4d7e8e;
}
.search-result:hover .search-result__details,
.search-result:hover .search-result__footer {
  color: #ffffff;
  background: #6399ab;
}
.search-result:hover .search-result__footer {
  border-top: 1px solid #84afbd;
}
