title = "Volunteer Account"
url = "/volunteer/account"
layout = "default"
is_hidden = 0

[volunteeraccount]
paramCode = "code"

[resetPassword]
paramCode = "code"
==
<div class="jumbotron">
    <div class="container">
        {% if user %}
            <h1>{{ user.name }}</h1>
            <p>Update your account details.</p>
        {% else %}
            <h1>Your account</h1>
        {% endif %}
    </div>
</div>

<div class="container">
    {% component 'volunteeraccount' %}

    {% if user == false %}
        <hr>
        {% content "news.htm" %}
    {% endif %}
</div>
