title = "Form"
url = "/form/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "RafMuseum\CasualtyForms\Models\CasualtyForm"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "first_names"
notFoundMessage = "Record not found"

[flagRecord]
identifierValue = "{{ :id }}"
==
<div class="jumbotron">
    <div class="container">
        {% if record %}
            <h1>
                {% if record.rank %}
                    <small>{{ record.rank|join(', ') }}</small><br />
                {% endif %}

                {{ record.first_names }} {{ record.surname }}
            </h1>

            {% if record.regiment_corps %}
                <p>{{ record.regiment_corps }}</p>
            {% endif %}

        {% else %}
            <h1>{{ notFoundMessage }}</h1>
        {% endif %}
    </div>
</div>

<div class="container">
    {% if record %}
        {% partial 'casualtyforms/social' %}

        <img width="100%" src="{{ url ~ config.cms.storage.media.path ~ record.filename }}" />

        <h2>All record data</h2>

        <table class="table">
            <tr>
                <th>Field</th><th>Value</th>
            </tr>
            <tr>
                <td>Christian names</td><td>{{ record.first_names }}</td>
            </tr>
            <tr>
                <td>Surname</td><td>{{ record.surname }}</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td>{{ record.birth_date|date('M d, Y') }}</td>
            </tr>
            <tr>
                <td>Rank</td><td>{{ record.rank|join(', ') }}</td>
            </tr>
            <tr>
                <td>Regiment / Corps</td><td>{{ record.regiment_corps }}</td>
            </tr>
            <tr>
                <td>Date of first report</td>
                <td>{{ record.report_date_first|date('M d, Y') }}</td>
            </tr>
            <tr>
                <td>Date of last report</td>
                <td>{{ record.report_date_last|date('M d, Y') }}</td>
            </tr>
            <tr>
                <td>Date of death</td>
                <td>{{ record.death_date|date('M d, Y') }}</td>
            </tr>
        </table>

        {% if record.flagged %}
            {% partial '@flagged-alert' %}
        {% else %}
            {% component 'flagRecord' %}
        {% endif %}

    {% else %}
        <p>Go back <a href="{{ 'home'|page }}">home</a>.</p>
    {% endif %}
</div>
