title = "Volunteer Survey"
url = "/volunteer/survey/:completed"
layout = "default"
is_hidden = 0
==
function onStart() {
    $this['completed'] = $this->param('completed');
}
==
{% set surveyLink = config.casualtyforms.surveys[completed] %}

<div class="jumbotron">
    <div class="container">
        <h1>Survey</h1>
        <p>You have completed {{ completed }} transcription{% if completed > 1 %}s{% endif %}
            for us! fancy filling out this survey?</p>
        </p>
    </div>
</div>

<div class="container">
    {% if surveyLink %}
        <a href="{{ surveyLink }}" target="_new">Survey link here.</a>
    {% endif %}
</div>
