title = "Transcribe"
url = "/volunteer/transcribe/:stage"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "account"

[transcriptionform]
stage = "{{ :stage }}"
==
<div class="jumbotron">
    <div class="container">
        <h1>Transcribe {{ stage }}</h1>

        {% if form %}
            <p>Form ID: {{ form.id }}</p>
        {% else %}
            <p>There are currently no forms to approve.</p>
        {% endif %}
    </div>
</div>

<div class="container">
    {% if form %}
        {% component 'transcriptionform' %}
    {% else %}
        There are no forms queued for approval at the moment, feel free to go
        and <a href="{{ 'transcribe'|page({ stage: 'new' }) }}">transcribe</a> some new ones.
    {% endif %}
</div>
