title = "Transcribe"
url = "/volunteer/transcribe/:stage"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "account"

[transcriptionForm]
stage = "{{ :stage }}"
==
<div class="jumbotron">
    <div class="container">
        <h1>Transcribe {{ stage }}</h1>

        {% if form %}
            <p>Form ID: {{ form.id }}</p>
        {% else %}
            <p>There are currently no forms to approve.</p>
        {% endif %}
    </div>
</div>

<div class="container">
    {% if form %}
        {% component 'transcriptionForm' %}
    {% else %}
        <p>There are no forms left in the approval queue, go ahead
        and transcribe some new ones.</p>

        <p><a href="{{ 'transcribe'|page({ stage: 'new' }) }}" class="btn btn-primary">Transcribe</a></p>
    {% endif %}
</div>
