//
// General page elements
// --------------------------------------------------

.table {
    tr:first-child td {
        border-top: none;
    }

    tr:hover {
        background: #f5f5f5;
    }
}

.alert {
    margin-bottom: 0;
}
