//
// General page elements
// --------------------------------------------------

// Tables
.table {
    tr:first-child td {
        border-top: none;
    }

    tr:hover {
        background: #f5f5f5;
    }
}

// Alert
.alert {
    margin-bottom: 0;
}

// Forms
.form-control[readonly] {
    color: transparent;
}
