<div id="footer">
    <div class="container">
        <hr />
        <p><img class="img-responsive" src="{{ 'assets/images/sponsors-gray.png'|theme }}" /></p>
        <p class="muted credit left">&copy; {{ "now"|date("Y") }} Trustees of the Royal Air Force Museum.</p>
        <p class="right">
            <a href="//www.rafmuseum.org.uk/default/privacy-policy.aspx">Privacy Policy</a> |
            <a href="//www.rafmuseum.org.uk/default/terms-and-conditions.aspx">Terms and Conditions</a>
        </p>
    </div>
</div>
