<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">Casualty Forms</a>
        </div>

        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}">
                    <a href="{{ 'home'|page }}">Home</a>
                </li>

                <li class="dropdown {% if this.page.id == 'transcribe' or this.page.id == 'volunteer' %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Volunteer <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ 'volunteer'|page }}">Dashboard</a></li>
                        <li><a href="{{ 'transcribe'|page({ stage: 'new' }) }}">Transcribe</a></li>
                        <li><a href="{{ 'transcribe'|page({ stage: 'approve' }) }}">Approve</a></li>

                        {% if not user %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ 'account'|page }}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </li>

                {% if user %}
                    <li class="dropdown {% if this.page.id == 'account' %}active{% endif %} visible-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> {{ user.name }}
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ 'account'|page }}">Account</a></li>
                            <li><a href="{{ 'signout'|page }}">Sign out</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav pull-right hidden-xs">
                {% if user %}
                    <li class="dropdown {% if this.page.id == 'account' %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> {{ user.name }}
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ 'account'|page }}">Account</a></li>
                            <li><a href="{{ 'signout'|page }}">Sign out</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
