<ul class="social">
    <li class="social-item">
        <a href="//facebook.com/rafmuseum" target="_blank" class="social-item__link">
            <i class="icon-facebook"></i>
        </a>
    </li>

    <li class="social-item">
        <a href="//twitter.com/rafmuseum" target="_blank" class="social-item__link">
            <i class="icon-twitter"></i>
        </a>
    </li>

    <li class="social-item">
        <a href="//youtube.com/rafmuseum" target="_blank" class="social-item__link">
            <i class="icon-youtube"></i>
        </a>
    </li>

    <li class="social-item">
        <a href="//instagram.com/rafmuseum" target="_blank" class="social-item__link">
            <i class="icon-instagram"></i>
        </a>
    </li>
</ul>
