title = "Transcribe List"
url = "/volunteer/:stage/list/:page?"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "volunteer"
==
function onStart() {
    $this['transcriptionStage'] = $this->param('stage');
}
==
<div class="jumbotron">
    <div class="container">
        <h1>Transcribe</h1>

        <p>Hello {{ user.name }}.</p>
    </div>
</div>

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{% if transcriptionStage == 'transcribe' %}active{% endif %}">
            <a href="{{ 'transcribe-list'|page({ stage: 'transcribe', page: 0 }) }}" role="tab">Transcribe</a>
        </li>
        <li role="presentation" class="{% if transcriptionStage == 'approve' %}active{% endif %}">
            <a href="{{ 'transcribe-list'|page({ stage: 'approve', page: 0 }) }}" role="tab">Approve</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% if transcriptionStage == 'transcribe' %}
            {% partial 'casualty-forms/list' scope="scopeToTranscribe" %}
        {% elseif  transcriptionStage == 'approve' %}
            {% partial 'casualty-forms/list' scope="scopeToApprove" %}
        {% endif %}
    </div>
</div>
