[builderDetails]
modelClass = "RafMuseum\CasualtyForms\Models\CasualtyForm"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "first_name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<canvas id="image-zoom">
    <img id="form-image" src="{{ config.formimages.url }}{{ config.formimages.filename }}" />
</canvas>

{% if record %}
    {% component 'transcriptionform' %}
{% else %}
    {{ notFoundMessage }}
{% endif %}
