[builderDetails]
modelClass = "RafMuseum\CasualtyForms\Models\CasualtyForm"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "first_name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<img alt="Form image" src="{{ config.formimages.url }}_1CF7221.jpg" width="100%" />

{% if record %}
    {% component 'transcriptionform' %}
{% else %}
    {{ notFoundMessage }}
{% endif %}
